absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alpha-vantage==2.3.1
altair==4.2.0
aniso8601==9.0.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
bcrypt==4.0.1
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
blinker==1.7.0
Brotli==1.0.9
cachetools==5.0.0
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.6
click==8.1.7
cloudpickle==3.0.0
cmdstanpy==0.9.5
colorama==0.4.4
Command==0.1.0
commonmark==0.9.1
comtypes==1.1.10
convertdate==2.4.0
cycler==0.11.0
Cython==0.29.27
dash==2.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==4.3
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Django==4.2
docopt==0.6.2
docutils==0.18.1
entrypoints==0.4
ephem==4.1.3
executing==0.8.2
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Compress==1.11
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flatbuffers==2.0
fonttools==4.29.1
frozenlist==1.3.0
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.26
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphene==3.3
graphene-django==3.2.0
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.1
grpcio==1.43.0
gTTS==2.2.4
gunicorn==21.2.0
h5py==3.6.0
hijri-converter==2.2.2
holidays==0.12
idna==3.2
importlib-metadata==4.11.0
importlib-resources==5.4.0
ipykernel==6.8.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
Js2Py==0.71
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
karel==1.3.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
libclang==13.0.0
llvmlite==0.41.1
load==2020.12.3
LunarCalendar==0.0.9
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.1.3
matplot==0.1.9
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
MouseInfo==0.1.3
multidict==6.0.2
multitasking==0.0.10
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
nltk==3.7
notebook==6.4.8
numba==0.58.1
numpy==1.22.2
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.0
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pickleshare==0.7.5
Pillow==8.3.2
pipwin==0.5.1
pkginfo==1.8.2
platformdirs==2.4.1
plotly==5.6.0
ply==3.11
preprocessor==1.1.3
prometheus-client==0.13.1
promise==2.3
prompt-toolkit==3.0.26
protobuf==3.19.4
pure-eval==0.2.2
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/ABC/pipwin/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
PyAutoGUI==0.9.53
pycparser==2.21
pydeck==0.7.1
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.11.2
pyjokes==0.6.0
pyjsparser==2.7.1
pyloco==0.0.139
PyMeeus==0.5.11
Pympler==1.0.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyRect==0.1.4
pyrsistent==0.18.1
PyScreeze==0.1.28
pySmartDL==1.3.4
pystan==2.19.1.1
python-dateutil==2.8.2
python-math==0.0.1
pyttsx3==2.90
pytweening==1.0.4
pytz==2021.1
pywhatkit==5.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==2.0.2
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
readme-renderer==34.0
regex==2022.3.15
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.12.2
Send2Trash==1.8.0
setuptools-git==1.2
shap==0.43.0
SimpleWebSocketServer==0.1.1
six==1.16.0
sklearn==0.0
slicer==0.0.7
smmap==5.0.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.23
sqlparse==0.4.4
stack-data==0.1.4
stanfordkarel==0.2.7
statsmodels==0.13.2
streamlit==1.5.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
textblob==0.17.1
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tk==0.1.0
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
tweepy==4.8.0
twine==4.0.0
typing==3.7.4.3
typing_extensions==4.8.0
tzdata==2021.1
tzlocal==3.0
ujson==5.1.0
urllib3==1.26.6
ushlex==0.99.1
validators==0.18.2
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==3.0.1
widgetsnbextension==3.5.2
wikipedia==1.4.0
wrapt==1.13.3
yarl==1.7.2
yfinance==0.1.70
zipp==3.7.0
zope.interface==5.4.0
